
body{
	text-align: center;
	background-color: #2860ba;
	font-family: 'Orbitron', sans-serif;
}



.btn1{
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
	border-radius: 5px !important;
	border: none;
}

h1{
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
	font-weight: bold;
	/*width: 300px;*/

}

.container-body{
	display: flex;
	justify-content: center;
	
}
.mycontainer{
	width: 500px;
}


.input1{
	padding: 15px;
	border-radius: 5px !important;
}
/*.alert_result{
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
}*/

.alert-shownumber{
	background-color: white;
	height: 200px;
	color: black;
	font-size: 180%;
	word-break: inherit;

}

.btn2{
	background-color: white;
	border-radius: 5px;
	color: white;

}

.btn-clear{
	background-color: white;

}

.btn-clear{
	font-weight: bold;
	padding-left: 90px;
	padding-right: 90px;
}
p{
	font-family: 'Orbitron', sans-serif;
	font-size: 46px;
	color: black;
}

@media screen and (max-width: 450px) {
    .btn-clear{
        font-weight: bold;
        padding-left: 1px;
        padding-right: 1px;
    }
    .mycontainer{
        width: 300px;
    
    
}
}
